<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSASAddin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DSASAddin.My.MySettings>
            <setting name="Shoreline_Date_Field" serializeAs="String">
                <value />
            </setting>
            <setting name="Spacing" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Search_Distance" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="Transect_Leg_Length" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="Baseline_Feature_Layer" serializeAs="String">
                <value />
            </setting>
            <setting name="Shoreline_Feature_Layer" serializeAs="String">
                <value />
            </setting>
            <setting name="Shoreline_Uncertainty_Field" serializeAs="String">
                <value />
            </setting>
            <setting name="Confidence_Interval" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Seaward" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Land_On_Right_Side" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uncertainty" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Trace_Level" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Baseline_Group_Field" serializeAs="String">
                <value />
            </setting>
            <setting name="Intersect_Threshold_Enforced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Intersect_Threshold_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoNotShowAgainCantInstantiateMetadataSynchronizer"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shoreline_Type_Field" serializeAs="String">
                <value />
            </setting>
            <setting name="ifApplyRateColorRamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shoreline_Uncertainty_Table" serializeAs="String">
                <value />
            </setting>
            <setting name="search_distance_field" serializeAs="String">
                <value />
            </setting>
            <setting name="Forecast_Time_Period" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SummaryReportLocation" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="CreateSummaryReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Baseline_ID_Field" serializeAs="String">
                <value>ID</value>
            </setting>
            <setting name="ClipTransectsToShorelineExtent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoNotShowAgainForecastCaveat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CastDirection" serializeAs="String">
                <value>BOTH</value>
            </setting>
        </DSASAddin.My.MySettings>
    </userSettings>
</configuration>
